@media screen and (max-width: 800px) {

    #menu {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    .titulo {
        order: 0;
    }

    #lista-de-exercicios {
        display: none;
        order: 2;
    }

    #lista-de-exercicios ol {
        list-style: none;
        display: block;
        padding-left: 0;
    }

    #lista-de-exercicios ol li {
        display: block;
    }

    #lista-de-exercicios ol li:not(:last-child)::after {
        content: "";
    }

    .menu-suspenso {
        position: absolute;
        top: 0.7rem;
        margin-right: 0.1rem;
        align-self: self-end;
        order: 1;
        display: block;
    }

    .menu-suspenso:hover {
        cursor: pointer;
    }

    .menu-suspenso .menu-hamburguer {
        color: #fff;
    }

    #calculadora-conversor {
        flex-direction: column;
        padding: 20px;
    }
}