@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  background-color: beige;
}

.titulo-pagina {
  width: 600px;
  margin: 2rem auto;
  text-align: center;
  font-size: 2.2rem;
}

main {
  width: 600px;
  /* border-width: 1px; */
  /* border-style: solid; */
  /* border-color: black; */
  border: 1px solid black; /* shorthand para a borda */
  margin: auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 4px 4px 4px #888;
}

.elementos-em-linha {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.botoes {
  display: flex;
  margin: 2rem 0;
  display: flex;
  gap: 1rem;
}

button {
  width: 100%;
  line-height: 2.6;
  cursor: pointer;
  border: none;
  border-radius: 6px;
}

button:hover {
  cursor: pointer;
}

.acao-positiva {
  background-color: #2078ec;
  color: #ffff;
}

.acao-positiva:hover {
  background-color: #043b82;
}

button:active {
  box-shadow: inset 1px 1px 1px #555;
}

.acao-alternativa {
  background-color: #ff0000;
  color: #ffff;
}

.acao-alternativa:hover {
  background-color: #8b0101;
}

.acao-alternativa:active {
  background-color: #710606;
}

input {
  width: 100%;
  line-height: 2.2;
  border-radius: 4px;
  border: 1px solid black;
  padding-left: 8px;
  margin-top: 4px;
}

#resultado {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 2rem;
  margin: 2rem 0 0 0;
  border-radius: 4px;
  padding: 8px;
}

#triangulo {
  margin-left: 210px;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 0 solid transparent;
  border-bottom: 0 solid black;
  margin-top: 20px;
}

.monetario::before {
  content: "R$ ";
}
